@import "./colors";

.panel {
  &.card {
    background: unset;
    margin: 8px 4px;
    .panel-body {
      background-color: #fff;
    }
    p {
      img {
        width: 100%;
        max-height: 100px;
        object-fit: contain;
      }
    }

    .panel-header {
      color: $PRIMARY_COLOR;
      .icon {
        margin: 0 4px;
        flex: 1 1 0;
      }
      .title {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
