@import "./colors";
.header {
  height: 64px;
  margin-bottom: 64px;
  overflow-y: visible;
  background-color: #336699;
  .profile-picture {
    background-image: url("/assets/images/profile picture.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    overflow: hidden;
    margin-left: 8px;
    box-shadow: 0 0px 4px 2px hsla(0, 0, 0, 0.6);
  }

  h2 {
    margin-left: calc(128px + 8px + 8px);
    &.name {
      margin-top: calc(-98px);
      color: #fff;
    }
    &.title {
      color: #369;
      font-size: 1.2em;
    }
  }
  .action-icon {
    float: right;
    margin-top: -48px;
    margin-right: 4px;
    .action {
      cursor: pointer;
      color: #FFF;
      margin: 2px;
    }
    .action:hover {
      color: $SECONDARY_COLOR;
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 32px;
    margin-bottom: 4px;
    display: flex;
    .profile-picture {
      border-radius: 32px;
      width: 32px;
      height: 32px;
    }
    h2 {
      &.name {
        font-size: 16px;
        color: #fff;
        padding: 4px;
        margin: 0;
      }
      &.title {
        font-size: 16px;
        color: #fff;
        padding: 4px;
        margin: 0;
        font-weight: normal;
      }
    }
    .action-icon {
      margin-top: 0;
      margin-right: 0;
    }
  }
}
