.header {
  height: 64px;
  margin-bottom: 64px;
  overflow-y: visible;
  background-color: #336699;

  .profile-picture {
    background-image: url("/assets/images/profile picture.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 128px;
    height: 128px;
    border-radius: 128px;
    overflow: hidden;
    margin-left: 8px;
    box-shadow: 0 0px 4px 2px hsla(0, 0, 0, 0.6);
  }

  h2 {
    margin-left: calc(128px + 8px + 8px);
    &.name {
      margin-top: calc(-98px);
      color: #fff;
    }
    &.title {
      color: #369;
      font-size: 1.2em;
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 32px;
    margin-bottom: 32px;
    .profile-picture {
      width: 64px;
      height: 64px;
      border-radius: 64px;
    }
    h2 {
      font-size: 20px;
      margin-left: calc(64px + 8px + 8px);
      &.name {
        margin-top: calc(-60px);
      }
      &.title {
        font-size: 18px;
      }
    }
  }
}
